# Old / generated project data
.old/
.exported/

# Godot
.godot/

# IDE
.idea/
*.DotSettings.user

# .NET build output
obj/
bin/

# Godot export artifacts
*.pck

# Game reference DLL
lib/sts2.dll

# Steam workshop
MoreUpgradedCardPreviewsWorkspace/ModUploader-win-x64.zip
MoreUpgradedCardPreviewsWorkspace/MoreUpgradedCardPreviewsWorkspace/content/
MoreUpgradedCardPreviewsWorkspace/MoreUpgradedCardPreviewsWorkspace/workshop.json